@page "/"

<div style="display: flex; gap: 20px; align-items: flex-start;">
    
    <div style="flex: 1;">
        <GridEditorInput />
    </div>

    <div style="flex: 0 0 350px;">
        <GridBaseView />
        <GridMeshView />
    </div>
</div>